* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ddd;
}

.app-layout {
  height: 100vh;
  width: 100%;
}

.header-container {
  display: flex;
  background: linear-gradient(90deg, #7a0c18, #b11226);
  width: 100%;
  height: 9vh;
  justify-content: space-between;

  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-container {
  margin: 5px 50px;
  padding: 3px;
  border-radius: 50%;
  background-color: #f4a261;
  transition: transform 0.25s ease;
}

.logo-container:hover {
  transform: rotate(-3deg) scale(1.05);
}

.logo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.nav-items-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-items {
  display: flex;
  list-style: none;
}

.nav-items > li {
  position: relative;
  color: #ffe8d6;
  font-size: 1.5rem;
  margin-right: 50px;
  padding-bottom: 4px;
  transition: color 0.25s ease;
}

.nav-items > li > a {
  text-decoration: none;
  color: #ffe8d6;
}

.nav-items > li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  border-radius: 5px;
  background-color: #f4a261;
  transition: width 0.5s ease;
}
.nav-items > li:hover {
  color: #ffffff;
  cursor: pointer;
}

.nav-items > li:hover::after {
  width: 100%;
}

.login-btn {
  margin-right: 20px;
  padding: 0 30px;
}

.body-container {
  margin: 20px;
}

.search {
  margin-bottom: 20px;
}

.filter-btn {
  padding: 4px;
  margin: 10px;
}

.reset-btn {
  padding: 4px;
  margin: 10px;
}

/* card container */
.crad-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 130px;
  padding-bottom: 50px;
  margin-top: 50px;
}

/* res card container styling */
.res-card-container {
  height: 300px;
  width: 400px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 20px;
}

/* res card upper section styling  */

.upper-section {
  display: flex;
  margin: 2px 5px 0px 5px;
  justify-content: space-between;
  align-items: center;
}
.upper-left {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2px 0px;
  border-radius: 10px;
}

.rating-eta {
  align-items: center;
  margin-top: 5px;
}

.rating-eta > span > svg {
  position: absolute;
  bottom: 4px;
}

.upper-left h3 {
  display: inline-block;
  color: #5b5a5a;
}

.upper-left h4 {
  display: inline-block;
  color: #5b5a5a;
}

.res-name {
  color: #3f3f3f;
}

.rating {
  margin-right: 20px;
  padding-left: 17px;
}

.more-details-btn {
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding-left: 15px;
  width: 110px;
  color: #5b5a5a;
}

.separator {
  margin-bottom: 15px;
}

/* res card lower section */

.lower-section {
  display: flex;
  padding-left: 5px;
}

.lower-left {
  display: flex;
  gap: 5px;
  flex-direction: column;
  width: 200px;
  flex-shrink: 0;
}
.lower-left > img {
  width: 20px;
}
.meal-name {
  color: #2c2c2c;
}

.meal-wrapper {
  position: relative;
}
.meal-logo {
  display: flex;
  justify-content: center;
  height: 170px;
  width: 175px;
  overflow: hidden;
  border-radius: 15px;
}

.lower-right img {
  height: 175px;
}

.add-btn {
  position: absolute;
  bottom: -7px;
  z-index: 99;
  background-color: #fff;
  color: green;
  border-radius: 5px;
  padding: 2px 30px;
  border: 1px solid #ddd;
  transition: all 0.2s ease-in-out;
}

.add-btn:hover {
  background-color: #f0eeee;
  color: rgb(9, 159, 9);
  cursor: pointer;
}

.customisable-banner {
  color: #5b5a5a;
  margin-top: 15px;
  margin-bottom: 0;
  padding-left: 50px;
  padding-bottom: 0;
}

/* Shimmer Ui */

.shimmer-container {
  display: flex;
  margin: 50px 100px 50px 100px;
  padding: 20px;
  gap: 30px;
  flex-wrap: wrap;
}

.shimmer-card-container {
  display: flex;
  height: 300px;
  width: 400px;
  border-radius: 20px;
  background-color: #fffbfb;
}

.shimmer-card-container > .right > .shimmer-value {
  height: 50px;
  width: 170px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 2px;
}

.shimmer-card-container > .left > .shimmer-value {
  height: 170px;
  width: 200px;
  border-radius: 10px;
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 20px;
}

.shimmer-value {
  animation-duration: 2.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
  background-size: 1200px 100%;
  height: 12px;
  width: 80%;
  border-radius: 8px;
}

@keyframes shimmer {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: 1200px 0;
  }
}

/* Restro menu cards */
.restraunt-menu-main-contrainer-body {
  display: flex;
  flex-direction: column;
}

.restraunt-menu-main-contrainer > .left {
  border: 2px solid black;
  margin: 20px 100px 0px 400px;
  height: 150px;
  width: 700px;
  padding: 15px 5px 5px 10px;
  background-color: #f0f0f0;
  border-radius: 20px;
}

.recommended-menu .recommended-headinng-container {
  background-color: #f0f0f0;
  margin: 50px 400px 50px 400px;
  padding: 20px;
  display: flex;
  align-content: center;
}
.recommended-menu .recommended-headinng-container .veg-filter {
  margin-left: 100px;
  padding: 2px;
  font-size: 15px;
}
